.section{
	text-align: center;
	color: white;
	font-size: 5em;
}
.z1{
	background-color: #6699ff;
}
.z2{
	background-color: #66ff99;
}
.z3{
	background-color: #009933;
}
.fp-controlArrow.fp-prev {
	left: 15px;
	width: 0;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
	right: 39px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff;
}
